/* Copyright 2023 jaymarnz, https://github.com/jaymarnz
** See LICENSE for details
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  color: #e3e3e3;
  position: absolute;
  font-size: 125%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

input[type="text"] {
  height: 1.5em;
  background-color: #c3c3c3;
  color: black;
  font-size: 1em;
  font-weight: bold;
}

input[type="button"] {
  height: 2em;
  font-size: 125%;
  font-weight: bold;
  min-width: 6em;
  margin-top: 0.5em;
  text-align: center;
  background-color: chocolate;
  color: #e3e3e3;
}

input[type="button"]:disabled {
  background-color: #7e7e7e;
  opacity: 25%;
}

form {
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 0;
}

p {
  margin-top: 0.25em;
}

.paraHead {
  font-size: 110%;
  font-weight: bold;
}

.fullscreen {
  display: none;
  position: fixed;
  top: 7px;
  right: 10px;
  z-index: 9999;
  background: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
  opacity: 0.7;
}

.run {
  display: none;
  height: 100%;
}

.config {
  display: none;
  height: 100%;
}

.notPlaying {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.notPlaying .timeOfDay {
  text-align: center;
  font-size: 12em;
  font-weight: bold;
}

.playing {
  display: flex;
  align-items: center;
  height: 100%;
}

.playingContainer {
  display: flex;
  height: 400px;
  width: 100%;
}

.left {
  width: 400px;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 15px;
  min-width: 0;
}

.bottom {
  margin-top: auto;
}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.timeOfDay {
  display: block;
  font-size: 6em;
  font-weight: bold;
  line-height: 1em;
}

.today {
  display: block;
  text-align: center;
  font-size: 2.5em;
  padding-bottom: 0.5em;
}

.notmuted {
  background-image: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M320,320c9.74-19.38,16-40.84,16-64,0-23.48-6-44.42-16-64" stroke="%23e3e3e3" stroke-linecap="square" stroke-miterlimit="10" stroke-width="32px" fill="none"/><path d="M368,368c19.48-33.92,32-64.06,32-112s-12-77.74-32-112" stroke="%23e3e3e3" stroke-linecap="square" stroke-miterlimit="10" stroke-width="32px" fill="none"/><path d="M416,416c30-46,48-91.43,48-160S446,143,416,96" stroke="%23e3e3e3" stroke-linecap="square" stroke-miterlimit="10" stroke-width="32px" fill="none"/><polygon fill="%23e3e3e3" points="125.65 176.1 32 176.1 32 335.9 125.65 335.9 256 440 256 72 125.65 176.1"/></svg>');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}

.muted {
  background-image: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><line x1="416" y1="432" x2="64" y2="80" stroke="%23e3e3e3" stroke-linecap="square" stroke-miterlimit="10" stroke-width="32px" fill="none"/><polygon fill="%23e3e3e3" points="256 72 182.4 130.78 256 204.37 256 72"/><polygon fill="%23e3e3e3" points="32 176.1 32 335.9 125.65 335.9 256 440 256 339.63 92.47 176.1 32 176.1"/></svg>');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}

#image {
  width: 400px;
  height: 400px;
  padding-right: 20px
}

#title1 {
  font-size: 3em;
  font-weight: bold;
}

#title2 {
  margin-block-start: 0.25em;
  font-size: 2em;
  font-weight: bold;
}

#title3 {
  margin-block-start: 0.25em;
  font-size: 1.5em;
  font-weight: normal;
}

#timeOfDay {
  padding-top: 18px;
}

#streamInfo {
  display: flex;
  align-items: center;
}

#serviceIcon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

#serviceName,
#quality,
#streamFormat {
  display: inline;
  font-size: 1em;
  font-weight: normal;
  margin-right: 0.25em
}

#volume {
  height: 42px;
  width: 100%;
  display: flex;
  align-items: center;
}

#volume_box {
  margin-left: 50px;
  height: 80%;
  width: 100%;
  border: 1px solid #e3e3e3;
}

#volume_level {
  height: 100%;
  width: 0;
}

.muted #volume_level {
  background-color: #c3c3c3;
}

.notmuted #volume_level {
  background-color: #e3e3e3;
}

#configForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#errorMessage {
  display: none;
  color: red;
  margin: .5em auto;
  text-align: center;
}

#errorMessage p {
  margin: 0;
  line-height: 1.5em;
}

#spinner {
  display: none;
  margin: .5em auto;
}